.services-info-img1,
.services-info-img2 {
  position: absolute;
}
.services-info-img1 {
  right: calc(100% - 267px);
  width: 267px;
  bottom: 0;
}

.services-info-img2 {
  left: -75px;
  top: 0;
  width: 220px;
}
.services-info-img1 img,
.services-info-img2 img {
  display: block;
  width: 100%;
}



@media screen and (max-width: 1399px) {
  .services-info-img1 {
    right: calc(100% - 210px);
    width: 210px;
  }
  .services-info-img2 {
    left: -65px;
    width: 190px;
  }
}



@media screen and (max-width: 1199px) {
  .services-info-img1 {
    right: calc(100% - 190px);
    width: 190px;
  }
  .services-info-img2 {
    left: -60px;
    width: 170px;
  }
}



@media screen and (max-width: 991px) {
  .services-info-img1 {
    right: calc(100% - 170px);
    width: 170px;
  }
  .services-info-img2 {
    left: -50px;
    width: 150px;
  }
}



@media screen and (max-width: 767px) {
  .services-info-img1 {
    right: calc(100% - 150px);
    width: 150px;
  }
  .services-info-img2 {
    left: -45px;
    width: 130px;
  }
}



@media screen and (max-width: 479px) {
  .services-info-img1 {
    right: calc(100% - 120px);
    width: 120px;
  }
  .services-info-img2 {
    width: 100px;
  }
}
