.services-promo-wrapper {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center right;
  overflow: hidden;
}
.services-promo-wrap {

}
.services-promo {
  position: relative;
  padding-bottom: 150px;
  &::before {
    content: "";
    position: absolute;
    top: -1000px;
    bottom: -1000px;
    left: -3000px;
    right: 37.5%;
    background-color: rgba(247, 251, 255, 1);
    z-index: 10;
  }
  &::after {
    content: "";
    position: absolute;
    left: -3000px;
    bottom: 0;
    right: 0;
    height: 125px;
    background-color: rgba(245, 204, 90, .8);
    z-index: 15;
  }
}
.services-promo-content {
  box-sizing: border-box;
  position: relative;
  width: 62.5%;
  z-index: 20;
}
.services-promo-title {
  margin-bottom: 40px;
  padding-right: 50px;
}
.services-promo-text {
  box-sizing: border-box;
  max-width: 510px;
  padding-right: 50px;
  line-height: 2;
}
.services-promo-text p {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}
.services-promo-img {
  position: absolute;
  left: 50%;
  bottom: -40px;
  width: 611px;
  z-index: 50;
}
.services-promo-img img {
  display: block;
  width: 100%;
}



@media screen and (max-width: 1399px) {
  .services-promo-img {
    bottom: -30px;
    width: 550px;
  }
}



@media screen and (max-width: 1199px) {
  .services-promo {
    padding-bottom: 130px;
    &::after {
      height: 110px;
    }
  }
  .services-promo-img {
    bottom: -20px;
    width: 450px;
  }
}



@media screen and (max-width: 991px) {
  .services-promo-img {
    left: 58%;
    bottom: 0px;
    width: 350px;
  }
}



@media screen and (max-width: 767px) {
  .services-promo-wrapper {
    background-position: center;
    background-size: cover;
  }
  .services-promo {
    &::before {
      right: -100px;
      background-color: rgba(247, 251, 255, .7);
    }
  }
  .services-promo-content {
    width: 100%;
  }
  .services-promo-title {
    margin-bottom: 30px;
    padding-right: 0;
  }
  .services-promo-text {
    padding-right: 0;
  }
  .services-promo-img {
    display: none;
  }
}
