.process-wrapper {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.process-wrap {

}
.process {

}
.process-title {
  position: relative;
  margin-bottom: 40px;
  color: #f7fbff;
  z-index: 20;
}
.process-text {
  box-sizing: border-box;
  position: relative;
  max-width: 780px;
  padding: 40px 50px;
  background-color: #f7fbff;
  z-index: 20;
}
.process-text p {
  margin-bottom: 30px;
  line-height: 1.7;
  &:last-child {
    margin-bottom: 0;
  }
}
.process-img {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 676px;
  z-index: 10;
}
.process-img img {
  display: block;
  width: 100%;
}



@media screen and (max-width: 1399px) {
  .process-text {
    max-width: 700px;
  }
  .process-img {
    right: 20px;
    width: 500px;
  }
}



@media screen and (max-width: 1199px) {
  .process-title {
    margin-bottom: 30px;
  }
  .process-text {
    max-width: 580px;
  }
  .process-text p {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .process-img {
    right: 0;
    width: 450px;
  }
}



@media screen and (max-width: 991px) {
  .process-img {
    width: 400px;
  }
}



@media screen and (max-width: 767px) {
  .process-text {
    padding: 30px 40px;
  }
}



@media screen and (max-width: 479px) {
  .process-text {
    padding: 20px;
  }
}
