.products-promo-wrapper {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center right;
  overflow: hidden;
}
.products-promo-wrap {

}
.products-promo {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -1000px;
    bottom: -1000px;
    left: -3000px;
    right: 37.5%;
    background-color: rgba(247, 251, 255, 1);
    z-index: 10;
  }
}
.products-promo-content {
  box-sizing: border-box;
  position: relative;
  width: 62.5%;
  margin-bottom: 10px;
  z-index: 20;
}
.products-promo-title {
  margin-bottom: 40px;
  padding-right: 50px;
}
.products-promo-text {
  box-sizing: border-box;
  max-width: 650px;
  padding-right: 50px;
  line-height: 1.7;
}
.products-promo-text p {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}
.products-promo-phrase-wrapper {
  position: relative;
  z-index: 30;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -3000px;
    background-color: rgba(245, 204, 90, 0.8);
  }
}
.products-promo-phrase {
  position: relative;
  max-width: 600px;
  padding: 15px 15px 15px 0;
  line-height: 1.7;
  z-index: 40;
}
.products-promo-img {
  position: absolute;
  left: 53%;
  bottom: -67px;
  width: 800px;
  z-index: 50;
}
.products-promo-img img {
  display: block;
  width: 100%;
}
.products-promo-btn-wrapper {
  position: relative;
  padding-top: 40px;
  z-index: 40;
}



@media screen and (max-width: 1399px) {
  .products-promo-phrase {
    padding: 20px 15px 20px 0;
  }
  .products-promo-text {
    max-width: 620px;
  }
  .products-promo-phrase {
    max-width: 580px;
  }
  .products-promo-img {
    width: 650px;
    bottom: -55px;
  }
}



@media screen and (max-width: 1199px) {
  .products-promo-phrase {
    max-width: 480px;
    padding: 15px 15px 15px 0;
  }
  .products-promo-text {
    max-width: 530px;
  }
  .products-promo-img {
    width: 500px;
    bottom: -43px;
  }
}



@media screen and (max-width: 991px) {
  .products-promo-img {
    left: 58%;
    width: 320px;
  }
  .products-promo-phrase {
    max-width: 400px;
  }
}



@media screen and (max-width: 767px) {
  .products-promo-wrapper {
    background-position: center;
    background-size: cover;
  }
  .products-promo {
    &::before {
      right: -100px;
      background-color: rgba(247, 251, 255, .5);
    }
  }
  .products-promo-content {
    width: 100%;
  }
  .products-promo-title {
    margin-bottom: 30px;
    padding-right: 0;
  }
  .products-promo-text {
    padding-right: 0;
  }
  .products-promo-img {
    display: none;
  }
}
