.products-info-block-img1,
.products-info-block-img2 {
  position: absolute;
  top: 0;
}
.products-info-block-img1 {
  right: calc(100% - 348px);
  width: 348px;
}

.products-info-block-img2 {
  left: -170px;
  width: 500px;
}
.products-info-block-img1 img,
.products-info-block-img2 img {
  display: block;
  width: 100%;
}



@media screen and (max-width: 1399px) {
  .products-info-block-img1 {
    right: calc(100% - 300px);
    width: 300px;
  }
  .products-info-block-img2 {
    left: -160px;
    width: 440px;
  }
}



@media screen and (max-width: 1199px) {
  .products-info-block-img1 {
    right: calc(100% - 240px);
    width: 240px;
  }
  .products-info-block-img2 {
    left: -145px;
    width: 350px;
  }
}



@media screen and (max-width: 991px) {
  .products-info-block-img1 {
    right: calc(100% - 200px);
    width: 200px;
  }
  .products-info-block-img2 {
    left: -120px;
    width: 300px;
  }
}



@media screen and (max-width: 767px) {
  .products-info-block-img1 {
    right: calc(100% - 160px);
    width: 160px;
  }
  .products-info-block-img2 {
    width: 250px;
  }
}



@media screen and (max-width: 479px) {
  .products-info-block-img1 {
    right: calc(100% - 120px);
    width: 120px;
  }
  .products-info-block-img2 {
    left: -100px;
    width: 200px;
  }
}
