.requirements-wrapper {
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 100%;
  overflow: hidden;
}
.requirements-wrap {

}
.requirements {
  position: relative;
}
.requirements-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 330px;
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    top: -1000px;
    left: -3000px;
    right: 0;
    bottom: -1000px;
    background-color: #aab1b8;
  }
}
.requirements-title {
  position: relative;
  margin-bottom: 40px;
  color: #f7fbff;
  z-index: 20;
}
.requirements-content {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1.7;
  z-index: 20;
}
.requirements-items-wrapper {
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  width: 57%;
  padding: 60px 340px 47px 47px;
  background-color: rgba(247, 251, 255, 1);
}
.requirements-items-descr {
  margin-bottom: 40px;
}
.requirements-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.requirements-item {
  position: relative;
  padding-left: 51px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    width: 40px;
    height: 6px;
    background-color: #feeb53;
  }
}
.requirements-items-img {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 316px;
}
.requirements-items-img img {
  display: block;
  width: 100%;
}
.requirements-additional {
  flex-grow: 1;
  margin-left: -100px;
  padding: 47px 47px 47px 140px;
  background-color: rgba(247, 251, 255, .8);
}
.requirements-additional-descr {
  margin-bottom: 40px;
}
.requirements-additional-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.requirements-additional-item {

}
.requirements-additional-item-num {
  position: relative;
  top: 8px;
  padding-right: 25px;
  display: inline-block;
  font-weight: 500;
  &::before {
    width: 255px;
  }
}



@media screen and (max-width: 1199px) {
  .requirements-items-wrapper {
    padding: 50px 220px 40px 40px;
  }
  .requirements-items-descr {
    margin-bottom: 30px;
  }
  .requirements-item {
    padding-left: 40px;
    &::before {
      top: 12px;
      width: 30px;
    }
  }
  .requirements-items-img {
    right: 10px;
    bottom: 10px;
    width: 200px;
  }
  .requirements-additional {
    margin-left: -90px;
    padding: 40px 40px 40px 120px;
  }
  .requirements-additional-descr {
    margin-bottom: 30px;
  }
  .requirements-additional-item-num {
    padding-right: 10px;
    &::before {
      width: 200px;
    }
  }
}



@media screen and (max-width: 991px) {
  .requirements-bg {
    display: none;
  }
  .requirements-content {
    display: block;
  }
  .requirements-items-wrapper {
    width: 85%;
    margin: 0 auto;
    padding: 40px 220px 35px 35px;
  }
  .requirements-items-descr {
    margin-bottom: 20px;
  }
  .requirements-additional {
    margin-left: 0;
    margin-top: -50px;
    padding: 80px 35px 35px 35px;
  }
  .requirements-additional-descr {
    margin-bottom: 20px;
  }
}



@media screen and (max-width: 767px) {
  .requirements-items-wrapper {
    width: 85%;
    margin: 0 auto;
    padding: 35px 30px 180px 30px;
  }
  .requirements-items-img {
    position: absolute;
    right: 50%;
    bottom: 5px;
    transform: translate(50%, 0);
    width: 180px;
  }
  .requirements-additional {
    padding: 80px 30px 30px 30px;
  }
}



@media screen and (max-width: 479px) {
  .requirements-items-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 30px 25px 180px 25px;
  }
  .requirements-additional {
    margin-top: 25px;
    padding: 25px;
  }
}
