.materials-info-wrapper {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center right;
  overflow: hidden;
}
.materials-info-wrap {

}
.materials-info {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -1000px;
    bottom: -1000px;
    left: -3000px;
    right: 37.5%;
    background-color: rgba(247, 251, 255, 1);
    z-index: 10;
  }
  &::after {
    content: "";
    position: absolute;
    left: 37.5%;
    bottom: 0;
    right: -3000px;
    height: 125px;
    background-color: rgba(245, 204, 90, .8);
    z-index: 15;
  }
}
.materials-info-content {
  box-sizing: border-box;
  position: relative;
  width: 62.5%;
  margin-bottom: 10px;
  z-index: 20;
}
.materials-info-title {
  margin-bottom: 40px;
  padding-right: 50px;
  line-height: 1.7;
}
.materials-info-text {
  box-sizing: border-box;
  max-width: 510px;
  padding-right: 50px;
  line-height: 2;
}
.materials-info-text p {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}
.materials-info-phrase-wrapper {
  position: relative;
  z-index: 30;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -3000px;
    background-color: rgba(254, 235, 83, 0.8);
  }
}
.materials-info-phrase {
  position: relative;
  max-width: 360px;
  padding: 25px 0;
  line-height: 2;
  z-index: 40;
}
.materials-info-img {
  position: absolute;
  left: 40%;
  bottom: 20px;
  width: 946px;
  z-index: 50;
}
.materials-info-img img {
  display: block;
  width: 100%;
}



@media screen and (max-width: 1399px) {
  .materials-info-img {
    left: 42%;
    width: 700px;
  }
}



@media screen and (max-width: 1199px) {
  .materials-info-img {
    left: 48%;
    width: 500px;
  }
}



@media screen and (max-width: 991px) {
  .materials-info-img {
    left: 55%;
    width: 400px;
  }
}



@media screen and (max-width: 767px) {
  .materials-info-wrapper {
    background-position: center;
    background-size: cover;
  }
  .materials-info {
    &::before {
      right: -100px;
      background-color: rgba(247, 251, 255, .7);
    }
  }
  .materials-info-content {
    width: 100%;
  }
  .materials-info-title {
    margin-bottom: 30px;
    padding-right: 0;
  }
  .materials-info-text {
    padding-right: 0;
  }
  .materials-info-img {
    display: none;
  }
}
