.materials-descr-img1,
.materials-descr-img2 {
  position: absolute;
}
.materials-descr-img1 {
  right: calc(100% - 340px);
  width: 340px;
  bottom: 0;
}

.materials-descr-img2 {
  left: -95px;
  top: 0;
  width: 283px;
}
.materials-descr-img1 img,
.materials-descr-img2 img {
  display: block;
  width: 100%;
}



@media screen and (max-width: 1399px) {
  .materials-descr-img1 {
    right: calc(100% - 280px);
    width: 280px;
  }
  .materials-descr-img2 {
    left: -60px;
    width: 240px;
  }
}



@media screen and (max-width: 1199px) {
  .materials-descr-img1 {
    right: calc(100% - 240px);
    width: 240px;
  }
  .materials-descr-img2 {
    width: 200px;
  }
}



@media screen and (max-width: 991px) {
  .materials-descr-img1 {
    right: calc(100% - 200px);
    width: 200px;
  }
  .materials-descr-img2 {
    width: 170px;
  }
}



@media screen and (max-width: 767px) {
  .materials-descr-img1 {
    right: calc(100% - 160px);
    width: 160px;
  }
  .materials-descr-img2 {
    width: 130px;
  }
}



@media screen and (max-width: 479px) {
  .materials-descr-img1 {
    right: calc(100% - 120px);
    width: 120px;
  }
  .materials-descr-img2 {
    width: 100px;
  }
}
