.feedback-reviews-block {
  overflow: hidden;
}
.feedback-wrapper {
  padding: 125px 0;
  background-color: #aab1b8;
  overflow: hidden;
}
.feedback-wrap {
  background-color: #f7fbff;
  box-shadow: 0 0 30px 0 rgba(16, 15, 15, 0.3);
}
.feedback {
  position: relative;
  padding: 35px 50px 90px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: -3000px;
    bottom: -50px;
    height: 100px;
    background-color: rgba(245, 204, 90, .8);
  }
}
.feedback-title {
  margin-bottom: 15px;
}
.feedback-descr {
  margin-bottom: 25px;
}
.feedback-btn-wrapper {

}
.feedback-btn {

}
.feedback-img {
  position: absolute;
  right: 0;
  bottom: -85px;
  width: 840px;

}
.feedback-img img {
  display: block;
  width: 100%;
}



@media screen and (max-width: 1399px) {
  .feedback-img {
    bottom: -82px;
    width: 780px;
  }
}



@media screen and (max-width: 1199px) {
  .feedback-img {
    bottom: -75px;
    width: 600px;
  }
}



@media screen and (max-width: 991px) {
  .feedback-wrapper {
    padding: 100px 0;
  }
  .feedback {
    padding: 35px 20px 90px;
    &::before {
      right: -200px;
      bottom: -40px;
      height: 80px;
    }
  }
  .feedback-img {
    bottom: -60px;
    width: 500px;
  }
}



@media screen and (max-width: 767px) {
  .feedback-wrapper {
    padding: 80px 0;
    &::before {
      height: 80px;
    }
  }
  .feedback {
    &::before {
      bottom: -35px;
      height: 70px;
    }
  }
  .feedback-img {
    bottom: -52px;
    width: 400px;
  }
}



@media screen and (max-width: 479px) {
  .feedback {
    padding: 35px 0 90px;
  }
  .feedback-img {
    bottom: -45px;
    width: 250px;
  }
}
