@font-face {
  font-family: 'Oswald';
  src: local('Oswald ExtraLight'),
  url('../fonts/Oswald-ExtraLight/Oswald-ExtraLight.woff') format('woff'),
  url('../fonts/Oswald-ExtraLight/Oswald-ExtraLight.ttf') format('truetype'),
  url('../fonts/Oswald-ExtraLight/Oswald-ExtraLight.eot'),
  url('../fonts/Oswald-ExtraLight/Oswald-ExtraLight.otf'),
  url('../fonts/Oswald-ExtraLight/Oswald-ExtraLight.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald Medium'),
  url('../fonts/Oswald-Medium/Oswald-Medium.woff') format('woff'),
  url('../fonts/Oswald-Medium/Oswald-Medium.ttf') format('truetype'),
  url('../fonts/Oswald-Medium/Oswald-Medium.eot'),
  url('../fonts/Oswald-Medium/Oswald-Medium.otf'),
  url('../fonts/Oswald-Medium/Oswald-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab'),
  url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.woff') format('woff'),
  url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.ttf') format('truetype'),
  url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.eot'),
  url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.otf'),
  url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab'),
  url('../fonts/RobotoSlab-Regular/RobotoSlab-Regular.woff') format('woff'),
  url('../fonts/RobotoSlab-Regular/RobotoSlab-Regular.ttf') format('truetype'),
  url('../fonts/RobotoSlab-Regular/RobotoSlab-Regular.eot'),
  url('../fonts/RobotoSlab-Regular/RobotoSlab-Regular.otf'),
  url('../fonts/RobotoSlab-Regular/RobotoSlab-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab'),
  url('../fonts/RobotoSlab-Light/RobotoSlab-Light.woff') format('woff'),
  url('../fonts/RobotoSlab-Light/RobotoSlab-Light.ttf') format('truetype'),
  url('../fonts/RobotoSlab-Light/RobotoSlab-Light.eot'),
  url('../fonts/RobotoSlab-Light/RobotoSlab-Light.otf'),
  url('../fonts/RobotoSlab-Light/RobotoSlab-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab'),
  url('../fonts/RobotoSlab-Thin/RobotoSlab-Thin.woff') format('woff'),
  url('../fonts/RobotoSlab-Thin/RobotoSlab-Thin.ttf') format('truetype'),
  url('../fonts/RobotoSlab-Thin/RobotoSlab-Thin.eot'),
  url('../fonts/RobotoSlab-Thin/RobotoSlab-Thin.otf'),
  url('../fonts/RobotoSlab-Thin/RobotoSlab-Thin.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}
