.admin-img-list {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
}
.admin-img-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
  padding: 15px;
  background-color: #cecece;
}
.admin-img-item-image {
  margin-bottom: auto;
  img {
    display: block;
    max-width: 100%;
  }
}
.admin-img-item-info {
  padding: 20px 10px 0 10px;

  form {
    .admin-form-block {
      display: flex;
      align-items: center;
      padding-top: 5px;

      span {
        margin-right: 10px;
        white-space: nowrap;
      }
    }
  }
}
