.admin-list-wrapper {
  padding-top: 20px;
}
.admin-list {
  padding: 25px 0;
}
.admin-item {
  margin-bottom: 10px;
  border: 1px solid #333333;

  &:last-child {
    margin-bottom: 0;
  }
}
.admin-item-img {
  width: 100px;
  margin-bottom: 10px;
  padding: 5px;

  img {
    display: block;
    max-width: 100%;
  }
}
.admin-item-val {
  display: flex;
  border-bottom: 1px solid #cccccc;
  font-size: 16px;
  font-weight: normal;
  color: #333333;

  div:nth-child(1) {
    flex-shrink: 0;
    width: 120px;
    padding: 5px 10px;
    border-right: 1px solid #cccccc;
  }

  div:nth-child(2) {
    flex-grow: 1;
    padding: 5px 10px;
  }
}
.admin-item-btns {
  padding: 10px;
}
.admin-item-btn,
.admin-btn-add {
  box-sizing: border-box;
  display: inline-block;
  min-width: 120px;
  margin-right: 20px;
  padding: 5px 15px;
  background-color: #ffffff;
  border: 1px solid #333333;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color .3s;

  &:hover {
    background-color: #cccccc;
  }

  &:last-child {
    margin-right: 0;
  }
}