.advatages-wrapper {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
  overflow: hidden;
}
.advatages-wrap {

}
.advatages {
  display: flex;
}
.advatages-descr {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 50%;
  margin-right: 160px;
}
.advatages-descr-title {
  margin-bottom: 40px;
  color: #f7fbff;
}
.advatages-descr-text {
  padding: 60px 100px;
  background-color: #f7fbff;
  line-height: 2;
}
.advatages-descr-text p {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}
.advatages-items-wrapper {
  position: relative;
  flex-grow: 1;
  padding-left: 85px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1000px;
    bottom: -1000px;
    right: -3000px;
    background-color: #aab1b8;
    z-index: 10;
  }
}
.advatages-items-title {
  position: relative;
  margin-bottom: 50px;
  z-index: 20;
}
.advatages-items {
  margin: 0;
  padding: 0;
  list-style: none;

  position: relative;
  z-index: 20;
}
.advatages-item {
  box-sizing: border-box;
  margin-bottom: 75px;
  &:last-child {
    margin-bottom: 0;
  }
}
.advatages-item-num {
  margin-bottom: 5px;
  font-size: 70px;
  &::before {
    width: 255px;
  }
}
.advatages-item-text {
  padding-left: 120px;
  font-weight: 400;
}



@media screen and (max-width: 1399px) {
  .advatages-descr {
    margin-right: 100px;
  }
  .advatages-descr-text {
    padding: 55px 70px;
  }
  .advatages-item {
    margin-bottom: 45px;
  }
  .advatages-item-num {
    font-size: 60px;
  }
  .advatages-item-text {
    padding-left: 100px;
  }
}



@media screen and (max-width: 1199px) {
  .advatages-descr {
    margin-right: 50px;
  }
  .advatages-descr-text {
    padding: 50px 40px;
    line-height: 1.8;
  }
  .advatages-descr-text p {
    margin-bottom: 15px;
  }
  .advatages-items-wrapper {
    padding-left: 50px;
  }
  .advatages-item-num {
    font-size: 50px;
  }
  .advatages-item-text {
    padding-left: 90px;
  }
}



@media screen and (max-width: 991px) {
  .advatages-wrapper{
    background-size: auto 70%;
    background-position: left top;
  }
  .advatages {
    display: block;
  }
  .advatages-descr {
    width: 100%;
    padding-bottom: 50px;
  }
  .advatages-descr-title {
    margin-bottom: 25px;
    text-align: center;
  }
  .advatages-descr-text {
    max-width: 500px;
    margin: 0 auto;
  }
  .advatages-items-wrapper {
    padding-left: 0;
    padding-top: 30px;
    &::before {
      top: 0;
      bottom: -100px;
      left: -200px;
      right: -200px;
    }
  }
  .advatages-items {
    display: flex;
    flex-wrap: wrap;
  }
  .advatages-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  .advatages-item-num {
    font-size: 48px;
    &::before {
      width: 200px;
    }
  }
  .advatages-item-text {
    padding-left: 70px;
  }
}



@media screen and (max-width: 767px) {
  .advatages-descr-text {
    line-height: 1.5;
  }
  .advatages-item-num {
    font-size: 42px;
    &::before {
      width: 140px;
    }
  }
  .advatages-item-text {
    padding-left: 0;
  }
}



@media screen and (max-width: 479px) {
  .advatages-descr-text {
    padding: 35px 25px;
    line-height: 1.3;
  }
  .advatages-items {
    display: block;
    max-width: 270px;
    margin: 0 auto;
  }
  .advatages-item {
    width: 100%;
    margin-right: 0;
  }
}
