.features-wrapper {
  background-color: #f7fbff;
  overflow: hidden;
}
.features {
  position: relative;
}
.features-img1,
.features-img2 {
  position: absolute;
  width: 220px;
  z-index: 5;
}
.features-img1 {
  top: 0;
  right: calc(100% + 50px);
}
.features-img2 {
  bottom: 0;
  left: 50%;
  margin-left: -110px;
}
.features-img1 img,
.features-img2 img {
  display: block;
  width: 100%;
}
.features-inner-wrapper {

}
.features-descr {
  box-sizing: border-box;
  position: relative;
  width: 50%;
  padding-right: 140px;
  z-index: 10;
}
.features-descr-title {
  margin-bottom: 40px;
}
.features-descr-text {
  box-sizing: border-box;
  max-width: 350px;
  line-height: 1.7;
}
.features-descr-text p {
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
}
.features-reason {
  box-sizing: border-box;
  position: relative;
  width: 50%;
  padding-left: 60px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1000px;
    bottom: -1000px;
    right: -3000px;
    background-color: #aab1b8;
  }
}
.features-reason-inner-wrapper {
  position: relative;
  padding-top: 65px;
  padding-left: 70px;
  padding-bottom: 75px;
  z-index: 10;
}
.features-reason-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -3000px;
  background-color: rgba(247, 251, 255, .4);
}
.features-reason-title {
  position: relative;
  margin-bottom: 20px;
}
.features-reason-items {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-reason-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.features-reason-item-num {
  &:before {
    width: 255px;
  }
}
.features-reason-item-text {
  padding-top: 8px;
  padding-left: 35px;
  line-height: 2;
}



@media screen and (max-width: 1399px) {
  .features-img1,
  .features-img2 {
    width: 200px;
  }
  .features-img1 {
    right: calc(100% + 20px);
  }
  .features-img2 {
    margin-left: -100px;
  }
  .features-reason {
    padding-left: 50px;
  }
  .features-reason-inner-wrapper {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 60px;
  }
}



@media screen and (max-width: 1199px) {
  .features-img1,
  .features-img2 {
    width: 180px;
  }
  .features-img2 {
    margin-left: -90px;
  }
  .features-reason {
    padding-left: 20px;
  }
  .features-reason-inner-wrapper {
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 50px;
  }
  .features-reason-item-text {
    padding-left: 10px;
  }
}



@media screen and (max-width: 991px) {
  .features-img1,
  .features-img2 {
    width: 160px;
  }
  .features-img1 {
    right: auto;
    left: 0;
    transform: translate(-50%, 0);
  }
  .features-img2 {
    left: auto;
    right: 0;
    margin-left: -80px;
  }
  .features-inner-wrapper {
    flex-direction: column;
  }
  .features-descr {
    width: 100%;
    padding-right: 0;
    padding-left: 100px;
    padding-bottom: 30px;
  }
  .features-descr-title {
    margin-bottom: 20px;
  }
  .features-descr-text p {
    margin-bottom: 20px;
  }
  .features-reason {
    width: 100%;
    padding-left: 0;
    padding-top: 30px;
    &::before {
      content: "";
      position: absolute;
      left: -1000px;
      top: 0;
      bottom: -1000px;
      right: -1000px;
      background-color: #aab1b8;
    }
  }
  .features-reason-inner-wrapper {
    max-width: 600px;
  }
  .features-reason-item-text {
    padding-top: 3px;
  }
}



@media screen and (max-width: 479px) {
  .features-img1 {
    display: none;
  }
  .features-descr {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 30px;
  }
  .features-reason-inner-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .features-reason-item {
    margin-bottom: 10px;
  }
  .features-reason-item-num {
    &:before {
      width: 200px;
    }
  }
  .features-reason-item-text {
    padding-top: 0;
  }
}
