.making-wrapper {
  background-color: #aab1b8;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  overflow: hidden;
}
.making-wrap {

}
.making {
  position: relative;
}
.making-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 330px;
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    top: -1000px;
    left: -3000px;
    right: 0;
    bottom: -1000px;
    background-color: #aab1b8;
  }
}
.making-title {
  position: relative;
  margin-bottom: 40px;
  z-index: 20;
}
.making-content {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 20;
}
.making-content-video-wrapper {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 62%;
}
.making-content-video {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 0;
  padding-bottom: 56.2%;
}
.making-content-video iframe {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.making-content-descr {
  flex-grow: 1;
  margin-left: -168px;
  padding: 90px 45px;
  padding-left: 217px;
  background-color: #f7fbff;
}
.making-content-descr-title {
  max-width: 360px;
  margin-bottom: 40px;
}
.making-content-descr-text {
  line-height: 1.8;
}
.making-content-descr-text p {
  margin-bottom: 35px;
  &:last-child {
    margin-bottom: 0;
  }
}



@media screen and (max-width: 1399px) {
  .making-content-descr {
    margin-left: -140px;
    padding: 75px 40px;
    padding-left: 180px;
  }
}



@media screen and (max-width: 1199px) {
  .making-content-descr {
    margin-left: -120px;
    padding: 60px 35px;
    padding-left: 150px;
  }
}



@media screen and (max-width: 991px) {
  .making-content {
    display: block;
  }
  .making-content-video-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .making-content-descr {
    margin-left: 0;
    margin-top: -60px;
    padding: 60px 35px;
    padding-top: 90px;
  }
  .making-content-descr-title {
    max-width: none;
    margin-bottom: 20px;
    text-align: center;
  }
  .making-content-descr-text p {
    margin-bottom: 15px;
  }
}



@media screen and (max-width: 479px) {
  .making-content-video-wrapper {
    padding: 0;
  }
  .making-content-descr {
    margin-top: 0;
    padding: 30px 20px;
  }
}
