.reviews-wrapper {
  background-color: #aab1b8;
}
.reviews {
  padding-bottom: 100px;
}
.reviews-title {
  margin-bottom: 45px;
  color: #f7fbff;
  text-align: center;
}
.reviews-items-wrapper {
  padding: 0 180px;
}
.reviews-items {

}
.reviews-item {
  box-sizing: border-box;
  padding: 25px 10px 0;
}
.reviews-item-img {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 286px;
  height: 286px;
  transform: translate(0px, -25px);
  z-index: 2;
  overflow: hidden;
}
.reviews-item-img img {
  display: block;
  width: 100%;
}
.reviews-item-content {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 286px + 75px);
  min-height: 286px;
  margin-left: -75px;
  padding: 45px 60px 70px 125px;
  background-color: #f7fbff;
  z-index: 1;
}
.reviews-item-content-name {

}
.reviews-item-content-text {

}
.reviews-items .slick-prev {
  position: absolute;
  left: -180px;
  top: 50%;
  transform: translate(0, -50%);
  width: 74px;
  height: 74px;
  font-size: 0;
  cursor: pointer;
  z-index: 100;
  transition: background-color .3s;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 25px;
    top: 36px;
    width: 24px;
    height: 2px;
    transform-origin: 1px 50%;
    background-color: #161515;
    transition: background-color .3s, box-shadow .3s;
  }
  &::after {
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }
  &:hover {
    background-color: #f7fbff;
    &::before,
    &::after {
      background-color: #feeb53;
    }
    &::before {
      box-shadow: 0 2px 0 0 #feeb53;
    }
    &::after {
      box-shadow: 0 -2px 0 0 #feeb53;
    }
  }
}
.reviews-items .slick-next {
  position: absolute;
  right: -180px;
  top: 50%;
  transform: translate(0px, -50%);
  width: 74px;
  height: 74px;
  font-size: 0;
  cursor: pointer;
  z-index: 100;
  transition: background-color .3s;
  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 25px;
    top: 36px;
    width: 24px;
    height: 2px;
    transform-origin: 23px 50%;
    background-color: #161515;
    transition: background-color .3s, box-shadow .3s;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:hover {
    background-color: #f7fbff;
    &::before,
    &::after {
      background-color: #feeb53;
    }
    &::before {
      box-shadow: 0 2px 0 0 #feeb53;
    }
    &::after {
      box-shadow: 0 -2px 0 0 #feeb53;
    }
  }
}
.reviews-items .slick-dots {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-right: 60px;
  font-size: 0;
  text-align: right;

  li {
    display: inline-block;
    vertical-align: bottom;
    width: auto;
    height: auto;
    margin-right: 15px;
    margin-left: 0;

    &:last-child {
      margin-right: 0;
    }

    button {
      display: block;
      width: 11px;
      height: 60px;
      padding: 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 1px;
        height: auto;
        background-color: #161515;
        opacity: 1;
        transition: width .3s, background-color .3s;
      }
    }

    &.slick-active {
      button {
        &::before {
          width: 5px;
          background-color: #feeb53;
        }
      }
    }
  }
}



@media screen and (max-width: 1399px) {
  .reviews-items-wrapper {
    padding: 0 120px;
  }
  .reviews-items .slick-prev {
    left: -120px;
  }
  .reviews-items .slick-next {
    right: -120px;
  }
}



@media screen and (max-width: 1199px) {
  .reviews-items-wrapper {
    padding: 0 80px;
  }
  .reviews-item-img {
    width: 260px;
    height: 260px;
  }
  .reviews-item-content {
    min-height: 260px;
    margin-left: -60px;
    padding: 30px 40px 65px 100px;
  }
  .reviews-items .slick-prev {
    left: -80px;
  }
  .reviews-items .slick-next {
    right: -80px;
  }
  .reviews-items .slick-dots {
    li {
      button {
        height: 50px;
      }
    }
  }
}



@media screen and (max-width: 991px) {
  .reviews {
    padding-bottom: 70px;
  }
  .reviews-title {
    margin-bottom: 20px;
  }
  .reviews-item {
    display: block;
    padding-top: 0;
  }
  .reviews-item-img {
    display: block;
    width: 220px;
    height: 220px;
    transform: translate(25px, 25px);
  }
  .reviews-item-content {
    display: block;
    width: 100%;
    margin-left: 0;
    padding: 35px 40px 70px 40px;
  }
}



@media screen and (max-width: 767px) {
  .reviews-items-wrapper {
    padding: 0 50px;
  }
  .reviews-item-img {
    width: 180px;
    height: 180px;
  }
  .reviews-item-content {
    padding: 30px 20px 50px 20px;
  }
  .reviews-items .slick-prev {
    left: -60px;
    width: 60px;
    height: 60px;
    &::before,
    &::after {
      left: 19px;
      top: 29px;
    }
  }
  .reviews-items .slick-next {
    right: -60px;
    width: 60px;
    height: 60px;
    &::before,
    &::after {
      right: 19px;
      top: 29px;
    }
  }
}



@media screen and (max-width: 479px) {
  .reviews {
    padding-bottom: 50px;
  }
  .reviews-items-wrapper {
    padding: 0;
  }
  .reviews-item-content {
    min-height: 350px;
  }
  .reviews-items .slick-prev,
  .reviews-items .slick-next {
    display: none;
  }
}
