.faq-wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.faq-wrap {

}
.faq {

}
.faq-items {
  display: flex;
  flex-wrap: wrap;
}
.faq-title {
  box-sizing: border-box;
  width: 25%;
  color: #f7fbff;
}
.faq-item {
  box-sizing: border-box;
  width: 25%;
  transition: box-shadow .3s;
}
.faq-item--invert {
  position: relative;
  box-shadow: 0 0 30px 0 rgba(16, 15, 15, .3);
  z-index: 1;
}
.faq-item-inner-wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  min-height: 330px;
}
.faq-item-question {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px 35px;
  background-color: #f7fbff;
  cursor: pointer;
  transition: opacity .3s, background-color .3s;
}
.faq-item--invert .faq-item-question {
  opacity: 0;
}
.faq-item:nth-of-type(1) .faq-item-question {
  padding-right: 75px;
  background-repeat: no-repeat;
  background-position: 145px 100%;
}
.faq-item:nth-of-type(3) .faq-item-question {
  padding-top: 170px;
  background-repeat: no-repeat;
  background-position: 0 -160px;
}
.faq-item:nth-of-type(4) .faq-item-question {
  padding-right: 45px;
  background-repeat: no-repeat;
  background-position: 185px -70px;
  background-size: 220px auto;
}
.faq-item:hover .faq-item-question {
  background-color: #feeb53;
}
.faq-item-answer {
  box-sizing: border-box;
  width: 100%;
  padding: 30px 35px;
  background-color: #fff;
}



@media screen and (max-width: 1399px) {
  .faq-item-inner-wrapper {
    min-height: 300px;
  }
  .faq-item:nth-of-type(1) .faq-item-question {
    padding-right: 60px;
    background-position: 125px 100%;
  }
  .faq-item:nth-of-type(3) .faq-item-question {
    padding-top: 150px;
    background-position: 0 -180px;
  }
}



@media screen and (max-width: 1199px) {
  .faq-title {
    width: calc(100%/3);
  }
  .faq-item {
    width: calc(100%/3);
  }
}



@media screen and (max-width: 991px) {
  .faq-items {
    max-width: 630px;
    margin: 0 auto;
  }
  .faq-title {
    width: 50%;
  }
  .faq-item {
    width: 50%;
  }
  .faq-item:nth-of-type(1) .faq-item-question {
    background-position: 145px 100%;
  }
}



@media screen and (max-width: 767px) {
  .faq-items {
    display: block;
    max-width: 320px;
  }
  .faq-title {
    width: auto;
    margin-bottom: 20px;
  }
  .faq-item {
    width: auto;
  }
  .faq-item:nth-of-type(1) .faq-item-question {
    background-position: 145px 100%;
  }
}



@media screen and (max-width: 479px) {
  .faq-item-question,
  .faq-item-answer {
    padding: 20px 25px;
  }
  .faq-item:nth-of-type(1) .faq-item-question {
    background-position: 135px 100%;
  }
  .faq-item:nth-of-type(4) .faq-item-question {
    background-position: 155px -80px;
  }
}
