.promo-wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.promo-wrap {

}
.promo {
  position: relative;
  display: flex;
  padding-bottom: 420px;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: -3000px;
    height: 200px;
    background-color: rgba(245, 204, 90, .8);
    z-index: 200;
  }
}
.promo-phrase {
  box-sizing: border-box;
  position: relative;
  width: 37%;
  z-index: 150;
}
.promo-phrase-bg {
  position: absolute;
  top: -1000px;
  bottom: -1000px;
  right: 0;
  left: -3000px;
  background-color: #f7fbff;
}
.promo-phrase-text {
  position: relative;
  padding-right: 100px;
  line-height: 1.8;
}
.promo-info {
  box-sizing: border-box;
  position: relative;
  width: 63%;
  padding-left: 75px;
  z-index: 150;
}
.promo-info-text {
  max-width: 550px;
  margin-bottom: 20px;
  color: #f7fbff;
}
.promo-info-btn-wrapper {

}
.promo-info-btn {

}
.promo-bg {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 456px;
  z-index: 210;
}
.promo-bg img {
  display: block;
  width: 100%;
}



@media screen and (max-width: 1399px) {
  .promo {
    padding-bottom: 350px;
    &::after {
      height: 180px;
    }
  }
  .promo-phrase-text {
    padding-right: 60px;
  }
  .promo-info {
    padding-left: 60px;
  }
  .promo-bg {
    width: 400px;
  }
}



@media screen and (max-width: 1199px) {
  .promo {
    padding-bottom: 300px;
    &::after {
      height: 160px;
    }
  }
  .promo-phrase-text {
    padding-right: 30px;
  }
  .promo-info {
    padding-left: 30px;
  }
  .promo-bg {
    width: 340px;
  }
}



@media screen and (max-width: 991px) {
  .promo {
    display: block;
    padding-bottom: 250px;
    &::after {
      height: 140px;
    }
  }
  .promo-phrase {
    width: 100%;
    padding-bottom: 30px;
  }
  .promo-phrase-bg {
    top: -500px;
    left: -500px;
    right: -500px;
    bottom: 0;
  }
  .promo-phrase-text {
    max-width: 500px;
    margin: 0 auto;
    padding-right: 0;
    text-align: center;
  }
  .promo-info {
    width: 100%;
    padding-left: 0;
    padding-top: 30px;
  }
  .promo-info-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .promo-info-btn-wrapper {
    text-align: center;
  }
  .promo-bg {
    width: 260px;
  }
}



@media screen and (max-width: 767px) {
  .promo {
    padding-bottom: 220px;
    &::after {
      height: 120px;
    }
  }
  .promo-bg {
    width: 220px;
  }
}



@media screen and (max-width: 479px) {
  .promo {
    padding-bottom: 180px;
    &::after {
      height: 100px;
    }
  }
  .promo-bg {
    width: 200px;
  }
}
