.page-header {
  position: fixed;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 3000;
}
.page-header-inner-wrapper {
  display: flex;
}
.page-header-logo {
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  width: 330px;
  margin-right: auto;
  background-color: #434344;
  z-index: 3100;
}
.page-header-logo img {
  display: block;
  width: 100%;
}
.main-nav {
  flex-grow: 1;
  display: flex;
}
.main-nav-inner-wrapper {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, .8);
}
.main-nav-items {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.main-nav-items > li {
  display: flex;
  flex-shrink: 0;
}
.main-nav-items > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 300;
  color: #161515;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .3s, box-shadow .3s, color .3s;
  &:hover {
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 0 0 30px 0 rgba(16, 15 , 15, .3);
    color: #feeb53;
  }
}
.main-nav-items > li > a.active {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 30px 0 rgba(16, 15 , 15, .3);
  color: #feeb53;
}
.main-nav-toggle {
  display: none;
}



@media screen and (max-width: 1399px) {
  .page-header-logo {
    width: 300px;
  }
  .main-nav-items > li> a {
    padding: 10px 18px;
    font-size: 17px;
  }
}



@media screen and (max-width: 1199px) {
  .page-header-logo {
    width: 260px;
  }
  .main-nav-inner-wrapper {
    padding: 0 5px;
  }
  .main-nav-items > li> a {
    padding: 10px 10px;
    font-size: 15px;
  }
}



@media screen and (max-width: 991px) {
  .page-header-logo {
    width: 220px;
  }
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 100px 20px 40px 20px;
    background-color: rgba(255, 255, 255, .9);
    overflow-x: hidden;
    overflow-y: auto;
    transform: translate(0, -100px);
    opacity: 0;
    visibility: hidden;
    transition: transform .3s, opacity .3s, visibility .3s;
    &::before {
      content: '';
      box-sizing: border-box;
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      background-color: #fff;
    }
    &.opened {
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible;
    }
  }
  .main-nav-items {
    display: block;
  }
  .main-nav-items > li {
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }
  .main-nav-items > li> a {
    display: inline-block;
    font-size: 20px;
  }
  .main-nav-items > li > a.active {
    background: none;
    box-shadow: none;
    color: #161515;
  }
  .main-nav-items > li > a:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 30px 0 rgba(16, 15 , 15, .3);
    color: #feeb53;
  }
  .main-nav-toggle {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    align-self: center;
    background-color: #f7fbff;
    box-shadow: 0 0 30px 0 rgba(16, 15 , 15, .3);
    font-size: 0;
    cursor: pointer;
    transition: box-shadow .3s, background-color .3s;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 26px;
      height: 2px;
      top: 24px;
      left: 12px;
      background-color: #161515;
      transition: box-shadow .3s, transform .3s, opacity .3s;
    }
    &::before {
      transform: translate(0, -11px);
      box-shadow: 0 11px 0 0 #161515;
    }
    &::after {
      transform: translate(0, 11px);
    }
    &.opened {
      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}



@media screen and (max-width: 767px) {
  .page-header {
    top: 10px;
  }
  .page-header-logo {
    width: 240px;
  }
}



@media screen and (max-width: 479px) {
  .page-header-logo {
    width: 200px;
  }
  .main-nav-toggle {
    width: 44px;
    height: 44px;
    &::before,
    &::after {
      width: 24px;
      top: 21px;
      left: 10px;
    }
    &::before {
      transform: translate(0, -10px);
      box-shadow: 0 10px 0 0 #161515;
    }
    &::after {
      transform: translate(0, 10px);
    }
  }
}
