.sign-in-wrapper {

}
.sign-in {
  width: 100%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  padding: 120px 0 50px 0;
}
.form-block {
  display: block;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
  }
  input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #333333;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: normal;
    color: #333333;
  }
}
.form-btn-wrapper {
  text-align: center;
}
.form-btn {
  padding: 8px 25px;
  background-color: #cecece;
  border: 1px solid #333333;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
  }
}