.product-prop {
  display: flex;
}
.product-prop-img {
  box-sizing: border-box;
  width: 50%;
  //background-image: url("../img/singleProduct/product-prop-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}
.product-prop-content-wrapper {
  box-sizing: border-box;
  width: 50%;
}
.product-prop-content-wrap {

}
.product-prop-content {
  position: relative;
  padding-left: 85px;
  &::before {
    content: "";
    position: absolute;
    bottom: -70px;
    right: 40px;
    left: -3000px;
    height: 200px;
    background-color: rgba(245, 204, 90, 0.8);
    z-index: 10;
  }
}
.product-prop-title {
  position: relative;
  margin-bottom: 30px;
  z-index: 20;
}
.product-prop-items {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 20;
}
.product-prop-item {
  display: flex;
  padding: 5px 0;
}
.product-prop-item-name {
  box-sizing: border-box;
  width: 50%;
  padding-right: 10px;
}
.product-prop-item-value {
  box-sizing: border-box;
  width: 50%;
  padding-left: 10px;
  text-align: right;
}



@media screen and (max-width: 1399px) {
  .product-prop-content {
    padding-left: 60px;
    &::before {
      bottom: -60px;
      height: 180px;
    }
  }
}



@media screen and (max-width: 1199px) {
  .product-prop-content {
    padding-left: 50px;
    &::before {
      bottom: -50px;
      height: 160px;
    }
  }
}



@media screen and (max-width: 991px) {
  .product-prop-content {
    padding-left: 30px;
    &::before {
      bottom: -40px;
      height: 140px;
    }
  }
  .product-prop-item {
    padding: 3px 0;
  }
}



@media screen and (max-width: 767px) {
  .product-prop {
    display: block;
  }
  .product-prop-img {
    width: 100%;
    height: 400px;
  }
  .product-prop-content-wrapper {
    width: 100%;
  }
  .product-prop-content {
    max-width: 500px;
    margin: 0 auto;
    padding-left: 0;
    &::before {
      bottom: -30px;
      height: 120px;
    }
  }
}



@media screen and (max-width: 479px) {
  .product-prop-img {
    height: 300px;
  }
  .product-prop-content {
    &::before {
      bottom: -20px;
      height: 100px;
    }
  }
}
