.product-descr {
  display: flex;
}
.product-descr-gallery-wrapper {
  box-sizing: border-box;
  width: 50%;
}
.product-descr-gallery-wrap {

}
.product-descr-gallery {
  .top-slider {
    padding-bottom: 15px;

    .slick-slide {
      & > div {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        padding-bottom: 80%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .slick-arrow.slick-prev {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 74px;
      height: 74px;
      font-size: 0;
      cursor: pointer;
      z-index: 100;
      transition: background-color .3s;
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 25px;
        top: 36px;
        width: 24px;
        height: 2px;
        transform-origin: 1px 50%;
        background-color: #161515;
        transition: background-color .3s, box-shadow .3s;
      }
      &::after {
        transform: rotate(45deg);
      }
      &::before {
        transform: rotate(-45deg);
      }
      &:hover {
        background-color: #f7fbff;
        &::before,
        &::after {
          background-color: #feeb53;
        }
        &::before {
          box-shadow: 0 2px 0 0 #feeb53;
        }
        &::after {
          box-shadow: 0 -2px 0 0 #feeb53;
        }
      }
    }
    .slick-arrow.slick-next {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0px, -50%);
      width: 74px;
      height: 74px;
      font-size: 0;
      cursor: pointer;
      z-index: 100;
      transition: background-color .3s;
      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 25px;
        top: 36px;
        width: 24px;
        height: 2px;
        transform-origin: 23px 50%;
        background-color: #161515;
        transition: background-color .3s, box-shadow .3s;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
      &:hover {
        background-color: #f7fbff;
        &::before,
        &::after {
          background-color: #feeb53;
        }
        &::before {
          box-shadow: 0 2px 0 0 #feeb53;
        }
        &::after {
          box-shadow: 0 -2px 0 0 #feeb53;
        }
      }
    }
  }

  .paging-slider {
    .slick-slide {
      opacity: .5;
      transition: opacity .3s;

      &.slick-center,
      &.slick-current {
        opacity: 1;
      }
      & > div {
        img {
          display: block;
          width: auto !important;
          height: 70px;
          width: auto;
          padding: 0 2px;
        }
      }
    }

  }


}
.product-descr-bread-crumbs {
  margin-bottom: 50px;
}
.product-descr-bread-crumbs a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
//.product-descr-gallery-slider {
//
//}
//.product-descr-gallery-slide {
//
//}
//.product-descr-gallery-slide-img {
//  position: relative;
//  width: 100%;
//  padding-bottom: 80%;
//}
//.product-descr-gallery-slide-img img {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  display: block;
//  width: auto;
//  height: auto;
//  max-width: 100%;
//  max-height: 100%;
//}

/* slider actions */
//.lSAction > .lSPrev {
//  position: absolute;
//  left: 0;
//  top: 50%;
//  transform: translate(0, -50%);
//  width: 74px;
//  height: 74px;
//  font-size: 0;
//  cursor: pointer;
//  z-index: 100;
//  transition: background-color .3s;
//  &::before,
//  &::after {
//    content: "";
//    position: absolute;
//    left: 25px;
//    top: 36px;
//    width: 24px;
//    height: 2px;
//    transform-origin: 1px 50%;
//    background-color: #161515;
//    transition: background-color .3s, box-shadow .3s;
//  }
//  &::after {
//    transform: rotate(45deg);
//  }
//  &::before {
//    transform: rotate(-45deg);
//  }
//  &:hover {
//    background-color: #f7fbff;
//    &::before,
//    &::after {
//      background-color: #feeb53;
//    }
//    &::before {
//      box-shadow: 0 2px 0 0 #feeb53;
//    }
//    &::after {
//      box-shadow: 0 -2px 0 0 #feeb53;
//    }
//  }
//}
//.lSAction > .lSNext {
//  position: absolute;
//  right: 0;
//  top: 50%;
//  transform: translate(0px, -50%);
//  width: 74px;
//  height: 74px;
//  font-size: 0;
//  cursor: pointer;
//  z-index: 100;
//  transition: background-color .3s;
//  &::before,
//  &::after {
//    content: "";
//    position: absolute;
//    right: 25px;
//    top: 36px;
//    width: 24px;
//    height: 2px;
//    transform-origin: 23px 50%;
//    background-color: #161515;
//    transition: background-color .3s, box-shadow .3s;
//  }
//  &::before {
//    transform: rotate(45deg);
//  }
//  &::after {
//    transform: rotate(-45deg);
//  }
//  &:hover {
//    background-color: #f7fbff;
//    &::before,
//    &::after {
//      background-color: #feeb53;
//    }
//    &::before {
//      box-shadow: 0 2px 0 0 #feeb53;
//    }
//    &::after {
//      box-shadow: 0 -2px 0 0 #feeb53;
//    }
//  }
//}
//.lSAction > a.disabled {
//  pointer-events: none;
//}
//.cS-hidden {
//  height: 1px;
//  opacity: 0;
//  filter: alpha(opacity=0);
//  overflow: hidden;
//}
.product-descr-content-wrapper {
  box-sizing: border-box;
  width: 50%;
}
.product-descr-content {
  padding-left: 80px;
}
.product-descr-name {
  margin-bottom: 20px;
}
.product-descr-price {
  margin-bottom: 20px;
}
.product-descr-text {
  margin-bottom: 35px;
  line-height: 1.7;
}
.product-descr-text-title {
  margin-bottom: 10px;
}
.product-descr-text p {

}
.product-descr-btn-wrapper {

}
.product-descr-btn {

}



@media screen and (max-width: 1199px) {
  .product-descr-content {
    padding-left: 40px;
  }
  .product-descr-name {
    margin-bottom: 10px;
  }
  .product-descr-price {
    margin-bottom: 10px;
  }
  .product-descr-text {
    margin-bottom: 25px;
  }
  .product-descr-text-title {
    margin-bottom: 0;
  }
}



@media screen and (max-width: 991px) {
  .product-descr-content {
    padding-left: 30px;
  }
  .lSAction > .lSPrev {
    width: 54px;
    height: 54px;
    &::before,
    &::after {
      left: 18px;
      top: 26px;
      width: 18px;
      transform-origin: 1px 50%;
    }
  }
  .lSAction > .lSNext {
    width: 54px;
    height: 54px;
    &::before,
    &::after {
      right: 18px;
      top: 26px;
      width: 18px;
      height: 2px;
      transform-origin: 17px 50%;
    }
  }
}



@media screen and (max-width: 767px) {
  .product-descr {
    display: block;
  }
  .product-descr-gallery-wrapper {
    width: 100%;
  }
  .product-descr-gallery {
    max-width: 400px;
    margin: 0 auto;
  }
  .product-descr-content-wrapper {
    width: 100%;
  }
  .product-descr-content-wrap.block-wrap {
    padding-top: 0;
  }
  .product-descr-bread-crumbs {
    margin-bottom: 20px;
  }
  .product-descr-content {
    padding-left: 0;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}
