.page-footer {
  background-color: #575965;
}
.page-footer-inner-wrapper {
  display: flex;
  padding: 52px 0;
}
.page-footer-block {
  box-sizing: border-box;
  width: 25%;
  padding-right: 25px;
}
.page-footer-phrase {
  color: #f7fbff;
}
.page-footer-phrase span {

}
.page-footer-copyright {
  align-self: flex-end;
  font-size: 18px;
  font-weight: 200;
  color: #f7fbff;
}
.page-footer-contacts {
  display: flex;
  padding-right: 0;
  padding-left: 25px;
}
.page-footer-phone {

}
.page-footer-mail {

}
.page-footer-contacts-inner-wrapper {
  margin-left: auto;
}
.page-footer-contacts-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #f7fbff;
}
.page-footer-contacts-title span {

}
.page-footer-contacts-items {
  display: flex;
  flex-direction: column;
}
.page-footer-contacts-item {
  color: #f7fbff;
  text-decoration: none;
}



@media screen and (max-width: 991px) {
  .page-footer-inner-wrapper {
    flex-wrap: wrap;
    padding: 30px 0;
  }
  .page-footer-copyright {
    width: 100%;
    padding-right: 0;
    padding-top: 20px;
    order: 10;
    text-align: center;
  }
  .page-footer-phrase {
    width: auto;
  }
  .page-footer-contacts {
    width: auto;
    margin-left: auto;
  }
}



@media screen and (max-width: 767px) {
  .page-footer-phrase {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
  .page-footer-contacts {
    width: 50%;
    margin-left: 0;
    padding: 20px 10px 0 10px;
  }
  .page-footer-contacts-inner-wrapper {
    margin: 0 auto;
  }
}



@media screen and (max-width: 479px) {
  .page-footer-inner-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .page-footer-contacts {
    width: auto;
    text-align: center;
  }
}
