.admin-nav {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.admin-nav-list {
  display: flex;
  align-items: center;
  padding-right: 20px;

  li {
    padding: 10px 20px;

    a {
      display: block;
      font-size: 16px;
      font-weight: normal;
      color: #333333;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        color: darkorange;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.admin-log-out {
  margin-left: auto;
}

.admin-form {
  width: 100%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
}
.admin-form-block {
  display: block;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
  }
  input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #333333;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: normal;
    color: #333333;
  }
  textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 160px;
    padding: 10px 15px;
    border: 1px solid #333333;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: normal;
    color: #333333;
    resize: none;
  }
}
.admin-form-btn-wrapper {
  text-align: center;
}
.admin-form-btn {
  padding: 8px 25px;
  background-color: #cecece;
  border: 1px solid #333333;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
  }
}
