.block-wrapper {
  display: flex;
}
.block-wrap {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 80px;
}

@media screen and (max-width: 991px) {
  .block-wrap {
    min-height: 0;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .block-wrap {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}
