body {
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  /*font-family: 'Roboto Slab', serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
