.btn {
  box-sizing: border-box;
  display: inline-block;
  min-width: 250px;
  padding: 9px 17px;
  background-color: rgba(254, 235, 83, .2);
  border: 2px solid #f5cc5a;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 700;
  color: #dba100;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: border .3s, background-color .3s, color .3s;
  &:hover {
    background-color: rgba(254, 235, 83, 1);
    border: 2px solid #feeb53;
    color: #161515;
  }
}

@media screen and (max-width: 1399px) {
  .btn {
    font-size: 28px;
  }
}
@media screen and (max-width: 991px) {
  .btn {
    min-width: 220px;
    padding: 7px 17px;
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) {
  .btn {
    font-size: 20px;
  }
}



.btn-product {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 9px 40px;
  background-color: rgba(245, 204, 90, .5);
  border-bottom: 2px solid #dba100;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  font-weight: 700;
  color: #dba100;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: border .3s, background-color .3s;
  &:hover {
    border-bottom: 2px solid transparent;
  }
}

@media screen and (max-width: 1399px) {
  .btn-product {
    font-size: 22px;
  }
}
@media screen and (max-width: 991px) {
  .btn-product {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .btn-product {
    font-size: 18px;
  }
}
