.container {
  box-sizing: border-box;
  width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-left {
  box-sizing: border-box;
  width: 675px;
  padding-left: 15px;
  margin-left: auto;
}
.container-right {
  box-sizing: border-box;
  width: 675px;
  padding-right: 15px;
  margin-right: auto;
}

@media screen and (max-width: 1399px) {
  .container {
    width: 1170px;
  }
  .container-left,
  .container-right {
    width: 585px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: 970px;
  }
  .container-left,
  .container-right {
    width: 485px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .container-left,
  .container-right {
    width: 375px;
  }
}

@media screen and (max-width: 767px) {
  .container,
  .container-left,
  .container-right {
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
  }
}
