.form {

}
.form-title {
  margin-bottom: 35px;
}
.form-input-text {
  margin-bottom: 25px;
}
.form-input-text input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px 35px;
  background: none;
  border: none;
  border-bottom: 2px solid #dba100;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 400;
  color: #dba100;
  transition: border-bottom .3s, background-color .3s;
  &:focus {
    outline: none;
    background-color: rgba(219, 161, 0, .5);
    border-bottom: 2px solid transparent;
  }
}
.form-textarea {
  margin-bottom: 25px;
}
.form-textarea textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 125px;
  padding: 10px 35px;
  background: none;
  border: none;
  border-bottom: 2px solid #dba100;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 400;
  color: #dba100;
  resize: none;
  transition: border-bottom .3s, background-color .3s;
  &:focus {
    outline: none;
    background-color: rgba(219, 161, 0, .5);
    border-bottom: 2px solid transparent;
  }
}
.form-input-btn {

}
.form-input-btn input {

}
.form-input-text input::-webkit-input-placeholder,
.form-textarea textarea::-webkit-input-placeholder {
  color: #dba100;
  text-transform: uppercase;
}
.form-input-text input::-moz-placeholder,
.form-textarea textarea::-moz-placeholder {
  color: #dba100;
  text-transform: uppercase;
}
.form-input-text input:-moz-placeholder,
.form-textarea textarea:-moz-placeholder {
  color: #dba100;
  text-transform: uppercase;
}
.form-input-text input:-ms-input-placeholder,
.form-textarea textarea:-ms-input-placeholder {
  color: #dba100;
  text-transform: uppercase;
}



@media screen and (max-width: 1399px) {
  .form-input-text input {
    font-size: 17px;
  }
  .form-textarea textarea {
    font-size: 17px;
  }
}



@media screen and (max-width: 991px) {
  .form-input-text input {
    padding: 8px 25px;
    font-size: 16px;
  }
  .form-textarea textarea {
    padding: 8px 25px;
    font-size: 16px;
  }
}



@media screen and (max-width: 767px) {
  .form-input-text input {
    padding: 8px 20px;
    font-size: 15px;
  }
  .form-textarea textarea {
    padding: 8px 20px;
    font-size: 15px;
  }
}
