.info-block {
  display: flex;
  overflow: hidden;
}
.info-block-left-wrapper {
  box-sizing: border-box;
  position: relative;
  width: 50%;
  background-color: #f7fbff;
}
.info-block-left-wrap {

}
.info-block-left {

}
.info-block-right-wrapper {
  box-sizing: border-box;
  position: relative;
  width: 50%;
  background-color: #aab1b8;
}
.info-block-right-wrap {

}
.info-block-right {
  position: relative;
  margin-left: 65px;
  padding: 50px 0 50px 65px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -3000px;
    background-color: rgba(247, 251, 255, .4);
    z-index: 10;
  }
}
.info-block-title {
  box-sizing: border-box;
  position: relative;
  max-width: 570px;
  margin-bottom: 30px;
  line-height: 1.7;
  z-index: 20;
}
.info-block-text {
  box-sizing: border-box;
  position: relative;
  max-width: 570px;
  line-height: 1.7;
  z-index: 20;
}
.info-block-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 570px;
}
.info-block-list li {
  position: relative;
  padding-left: 51px;
  line-height: 1.7;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    width: 40px;
    height: 6px;
    background-color: #feeb53;
  }
}
.info-block-num-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.7;
  z-index: 20;
}
.info-block-num-list li {

}
.info-block-num-list li .num {
  position: relative;
  top: 8px;
  display: inline-block;
  font-weight: 500;
  line-height: .9;
  &::before {
    width: 255px;
  }
}
.info-block-left .info-block-title,
.info-block-left .info-block-text,
.info-block-left .info-block-list {
  padding-right: 50px;
}



@media screen and (max-width: 1199px) {
  .info-block-right {
    margin-left: 30px;
    padding: 40px 0 40px 30px;
  }
  .info-block-list li {
    padding-left: 40px;
    &::before {
      top: 12px;
      width: 30px;
    }
  }
  .info-block-num-list li .num {
    &::before {
      width: 200px;
    }
  }
}



@media screen and (max-width: 991px) {
  .info-block-left .info-block-title,
  .info-block-left .info-block-text {
    padding-right: 40px;
  }
}



@media screen and (max-width: 767px) {
  .info-block {
    display: block;
  }
  .info-block-left-wrapper,
  .info-block-right-wrapper {
    width: 100%;
  }
  .info-block-title,
  .info-block-text,
  .info-block-list{
    max-width: 500px;
  }
  .info-block-left .info-block-title,
  .info-block-left .info-block-text,
  .info-block-left .info-block-list{
    margin-left: auto;
    padding-right: 0;
  }
  .info-block-title {
    margin-bottom: 20px;
  }
}



@media screen and (max-width: 479px) {
  .info-block-right {
    margin-left: 0;
    padding: 30px 0 30px 25px;
  }
}
