.products-wrapper {
  overflow: hidden;
}
.products-wrap {

}
.products {

}
.products-title {
  margin-bottom: 30px;
}
.products-items-wrapper {
  position: relative;
  margin-bottom: 40px;
  padding-top: 35px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -3000px;
    right: -150px;
    height: 200px;
    background-color: rgba(245, 204, 90, .6);
    z-index: 10;
  }
}
.products-items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 20;
}
.products-item {
  box-sizing: border-box;
  position: relative;
  width: calc((100% - 50px) / 3);
  margin-right: 25px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  background-color: #f7fbff;
  box-shadow: 0 0 10px 0 rgba(16, 15, 15, 0.2);
  text-decoration: none;
  &:hover {
    z-index: 30;
  }
}
@media screen and (min-width: 992px) {
  .products-item:nth-child(3n) {
    margin-right: 0;
  }
}
.products-item-img {
  position: relative;
  width: 100%;
  padding-bottom: 83%;
}
.products-item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-item-descr {
  padding: 25px 50px 45px 50px;
}
.products-item-descr-price {
  margin-bottom: 10px;
  font-size: 25px;
  color: #161515;
}
.products-item-descr-name {
  margin-bottom: 5px;
  font-weight: 500;
}
.products-item-descr-materials {

}
.products-item-btn-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(0, -10px);
  background-color: #f7fbff;
  visibility: hidden;
  transition: transform .3s, visibility .3s;
}
.products-item:hover .products-item-btn-wrapper {
  transform: translate(0, 0);
  visibility: visible;
}
.products-item-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity .3s, border .3s, background-color .3s;
}
.products-item:hover .products-item-btn {
  opacity: 1;
}
.products-btn-wrapper {
  text-align: center;
}
.products-btn {

}



@media screen and (max-width: 1399px) {
  .products-item-descr-price {
    font-size: 24px;
  }
}



@media screen and (max-width: 1199px) {
  .products-item-descr {
    padding: 25px 35px 45px 35px;
  }
}



@media screen and (max-width: 991px) {
  .products-items-wrapper {
    max-width: 650px;
    margin: 0 auto;
  }
  .products-item {
    width: calc((100% - 25px) / 2);
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  .products-item-descr-price {
    font-size: 22px;
  }
}


@media screen and (max-width: 679px) {
  .products-items-wrapper {
    display: block;
    max-width: 350px;
  }
  .products-item {
    width: 100%;
    margin-right: 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  .products-item-descr {
    padding: 20px 25px 40px 25px;
  }
  .products-item-descr-price {
    font-size: 20px;
  }
}
