p {
  padding: 0;
  margin: 0;
}

.text-main {
  font-size: 18px;
  font-weight: 200;
  color: #161515;
}
@media screen and (max-width: 1399px) {
  .text-main {
    font-size: 17px;
  }
}
@media screen and (max-width: 991px) {
  .text-main {
    font-size: 16px;
  }
}



.text-bold {
  font-weight: 500;
}



.text-link {
  color: #dba100;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}



.elem-underline {
  position: relative;
  font-size: 48px;
  line-height: .95;
  color: #feeb53;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 5px;
    background-color: #feeb53;
  }
}
@media screen and (max-width: 1399px) {
  .elem-underline {
    font-size: 45px;
  }
}
@media screen and (max-width: 991px) {
  .elem-underline {
    font-size: 38px;
  }
}
@media screen and (max-width: 479px) {
  .elem-underline {
    font-size: 32px;
  }
}
