h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.title-big {
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  font-weight: 300;
  color: #161515;
  text-transform: uppercase;

  span {
    font-weight: 700;
  }
}
@media screen and (max-width: 1399px) {
  .title-big {
    font-size: 36px;
  }
}
@media screen and (max-width: 991px) {
  .title-big {
    font-size: 30px;
  }
}
@media screen and (max-width: 479px) {
  .title-big {
    font-size: 26px;
  }
}



.title {
  font-size: 35px;
  font-weight: 200;
  color: #161515;

  span {
    font-weight: 500;
  }
}
@media screen and (max-width: 1399px) {
  .title {
    font-size: 32px;
  }
}
@media screen and (max-width: 991px) {
  .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 479px) {
  .title {
    font-size: 28px;
  }
}



.title-section {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7;
  color: #161515;
  text-transform: uppercase;
}
@media screen and (max-width: 1399px) {
  .title-section {
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {
  .title-section {
    font-size: 17px;
  }
}
@media screen and (max-width: 479px) {
  .title-section {
    font-size: 16px;
  }
}



