.contacts-block-wrapper {
  overflow: hidden;
}
.contacts-block {
  box-sizing: border-box;
  display: flex;
  width: 100%;
}
.contacts-wrapper {
  box-sizing: border-box;
  position: relative;
  width: 50%;
}
.contacts-wrap {

}
.contacts {

}
.contacts-title {
  margin-bottom: 30px;
  padding-right: 50px;
}
.contacts-items {
  box-sizing: border-box;
  margin-bottom: 55px;
  padding-right: 50px;
}
.contacts-item {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.contacts-item-title {
  &::before {
    width: 255px;
  }
}
.contacts-item-content {
  padding-left: 75px;
}
.contacts-item-content a {
  text-decoration: none;
}
.contacts-btn-wrapper {
  position: relative;
  padding-top: 45px;
  padding-bottom: 90px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3000px;
    right: -90px;
    background-color: rgba(245, 204, 90, .8);
    z-index: 30;
  }
}
.contacts-btn {
  position: relative;
  background-color: rgba(247, 251, 255, .2);
  border: 2px solid rgba(247, 251, 255, 1);
  z-index: 30;
  cursor: pointer;
  &:hover {
    background-color: rgba(247, 251, 255, 1);
    color: #dba100;
  }
  &:focus {
    outline: none;
  }
}
.map-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s ease-out 0s, z-index 0s ease-out .3s;
}
.map-wrapper.opened {
  opacity: 1;
  z-index: 20;
  transition: opacity .3s ease-out 0s, z-index 0s ease-out 0s;
}
#map {
  width: 100%;
  height: 100%;
}
.request-wrapper {
  box-sizing: border-box;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.request {
  box-sizing: border-box;
  padding-left: 140px;
}
.request-title {
  margin-bottom: 50px;
  color: #f7fbff;
}
.request-form {

}
.request-form .form-textarea {
  margin-bottom: 50px;
}
.request-form .form-input-btn {
  padding-top: 45px;
  padding-bottom: 90px;
}



@media screen and (max-width: 1399px) {
  .contacts-btn-wrapper {
    &::before {
      right: -70px;
    }
  }
  .request {
    padding-left: 120px;
  }
  .request-form .form-textarea {
    margin-bottom: 40px;
  }
}



@media screen and (max-width: 1199px) {
  .contacts-btn-wrapper {
    padding-top: 35px;
    padding-bottom: 75px;
    &::before {
      right: -30px;
    }
  }
  .request {
    padding-left: 50px;
  }
  .request-form .form-textarea {
    margin-bottom: 25px;
  }
  .request-form .form-input-btn {
    padding-top: 35px;
    padding-bottom: 75px;
  }
}



@media screen and (max-width: 991px) {
  .request-title {
    margin-bottom: 30px;
  }
  .request-form .form-input-btn {
    padding-top: 0;
    padding-bottom: 60px;
  }
}



@media screen and (max-width: 767px) {
  .contacts-block {
    display: block;
  }
  .contacts-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .contacts-title {
    padding-right: 0;
    text-align: center;
  }
  .contacts-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
    padding-right: 0;
  }
  .contacts-item {
    padding: 0 25px;
  }
  .contacts-item-title {
    &::before {
      width: 180px;
    }
  }
  .contacts-item-content {
    padding-left: 50px;
  }
  .contacts-btn-wrapper {
    display: none;
  }
  .request-wrapper {
    width: 100%;
  }
  .request {
    max-width: 380px;
    margin: 0 auto;
    padding-left: 0;
  }
  .map-wrapper {
    position: static;
    width: 100%;
    height: 400px;
    opacity: 1;
    z-index: 20;
  }
}



@media (max-width: 560px) {
  .contacts-items {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }
  .contacts-item {
    padding: 0;
  }
  .map-wrapper {
    height: 350px;
  }
}
